@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Yeseva+One&display=swap");

:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --gold-color: #E0C66E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.btn {
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 28px;
    color: var(--white-color);
    background-color: var(--black-color);
    border: 2px solid var(--white-color);
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.section_title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: var(--gold-color);
    font-weight: 400;
    text-align: center;
    padding-top: 116px;
    text-transform: uppercase;
}