.header {
    color: var(--white-color);
    background-color: var(--black-color);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav {
    display: flex;
    gap: 40px;
}

.link {
    color: var(--white-color);
    text-transform: uppercase;
    padding-bottom: 9px;
    border-bottom: 1px solid var(--black-color);
    transition: all 300ms ease-in-out;
}

.link:hover {
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 8px;
}